@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --body-font: "Outfit", "Futura", sans-serif;
}
* {
    font-family: var(--body-font);
}

.main-header .logo {
    font-weight: 600;
}
.main-header .logo, h1,h2,h3,h4{
    font-family: var(--body-font) !important;
  }